<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>
<body>
	<form method="POST" >
                            {% csrf_token %}

                            {% for field in form %}
                            <div class="form-group">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                            {% endfor %}
                            <td><input class="btn btn-outline-warning" type="submit" value="Login"></td>
                        </form>
</body>
</html>

